@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@300;400;500;600&display=swap');

* {
	margin: 0; padding: 0;
}
body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(219, 19%, 15%);
    font-size: 28px;
}
.flashcard {
	min-width: 275px;
	width: 275px;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 0;
	border-radius: 7.5px;
	background-color: hsl(217, 19%, 25%);
    position: relative;
}
.advice-header {
	color: hsl(150, 100%, 66%);
    font-size: 0.1875em;
    font-family: 'Montserrat', sans-serif;
}
.quote {
    font-weight: 700;
	padding: 25px 10px;
	text-align: center;
	color: hsl(193, 38%, 86%);
    font-size: 0.6em;
    font-family: 'Manrope', sans-serif;
}
.divider {
    padding-bottom: 20px;
}
.circle {
    position: absolute;
    left: 50%; bottom: 0; 
    width: 45px; height: 45px;
    border: 0;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    transition: box-shadow 0.25s ease-in;
    -webkit-transition: box-shadow 0.25s ease-in;
    -o-transition: box-shadow 0.25s ease-in;
    -moz-transition: box-shadow 0.25s ease-in;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 hsl(150, 100%, 66%);
}